# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [185]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [211]:
df= pd.read_table('http://bit.ly/chiporders')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [50]:
chipo=df
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [51]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [52]:
# Solution 1
chipo.shape #(Rows, Columns)

(4622, 5)

In [53]:
# Solution 2
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

### Step 6. What is the number of columns in the dataset?

In [215]:
# Solution 1
len(chipo.axes[1])

13

In [214]:
# Solution 2
chipo.shape[1]

13

### Step 7. Print the name of all the columns.

In [216]:
#solution 1
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description', 'item_price',
       'money_regex', 'money_replace', 'item price_replace',
       'item price_regex', 'item_price_regex', 'item_price_replace', 'revenue',
       'total_revenue'],
      dtype='object')

In [217]:
#solution 2
chipo.head(0)

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price, money_regex, money_replace, item price_replace, item price_regex, item_price_regex, item_price_replace, revenue, total_revenue]
Index: []

### Step 8. How is the dataset indexed?

In [218]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [227]:
chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

,order_id,quantity,money_regex,money_replace,item price_replace,item price_regex,item_price_regex,item_price_replace,revenue,total_revenue
item_name,,,,,,,,,,
Chicken Bowl,713926,761,7342.73,7342.73,7342.73,7342.73,7342.73,7342.73,8044.63,28486076.52

### Step 10. For the most-ordered item, how many items were ordered?

In [225]:
chipo.groupby(by="item_name").sum().sort_values('quantity',ascending=False).head(1)

,order_id,quantity,money_regex,money_replace,item price_replace,item price_regex,item_price_regex,item_price_replace,revenue,total_revenue
item_name,,,,,,,,,,
Chicken Bowl,713926,761,7342.73,7342.73,7342.73,7342.73,7342.73,7342.73,8044.63,28486076.52

### Step 11. What was the most ordered item in the choice_description column?

In [209]:
chipo.groupby(by="choice_description").sum().sort_values('quantity',ascending=False).head(1)

,order_id,quantity,money_regex,money_replace,item price_replace,item price_regex,item_price_regex,item_price_replace,revenue,total_revenue
choice_description,,,,,,,,,,
[Diet Coke],123455,159,326.71,326.71,326.71,326.71,326.71,326.71,408.41,5257760.68

### Step 12. How many items were orderd in total?

In [230]:
chipo.item_name.count()

4622

### Step 13. Turn the item price into a float

In [ ]:
#Solution1
chipo['item_price_replace']=chipo.item_price.str.replace('$', '')
chipo['item_price_replace']=pd.to_numeric(chipo['item price_replace'])
chipo['item_price_replace']

In [114]:
chipo['item_price_replace'].dtypes

dtype('float64')

In [111]:
#solution2 using Regex
chipo['item_price_regex']=chipo['item_price'].str.replace('[\$\,]','',regex=True)
chipo['item_price_regex']=pd.to_numeric(chipo['item price_regex'])
chipo['item_price_regex']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price_regex, Length: 4622, dtype: float64

In [112]:
chipo['item_price_regex'].dtypes

dtype('float64')

#### Step 13.a. Check the item price type

In [115]:
chipo['item_price_replace'].dtypes
chipo['item_price_regex'].dtypes

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
g = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(g)
g

#### Step 13.c. Check the item price type

In [241]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
money_regex           float64
money_replace         float64
item price_replace    float64
item price_regex      float64
item_price_regex      float64
item_price_replace    float64
revenue               float64
total_revenue         float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [275]:
chipo['revenue']=chipo['item_price_replace']*chipo['quantity']
print("$"+ str(revenue.sum()))

$39237.02

### Step 15. How many orders were made in the period?

In [251]:
#solution1
total_orders=len(chipo.order_id.value_counts())
total_orders

1834

In [265]:
#solution2
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [280]:
# Solution 1
AV1= revenue.sum()/total_orders
AV1

21.39423118865867

### Step 17. How many different items are sold?

In [293]:
#solution1
len(chipo.item_name.value_counts())

50

In [292]:
#solution2
chipo.item_name.value_counts().count()

50