In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:/AI-Course/Py.Prac/car_price_prediction.csv")
df

,Manufacturer,Price,Levy,Unnamed: 3,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,ACURA,314,1399,NaN,TL,2010,Sedan,Yes,Petrol,3.5,162453km,6,Automatic,Front,4-May,Left wheel,Silver,12
1,ACURA,3450,900,NaN,TLX,2015,Sedan,Yes,Petrol,2.4,83099km,4,Automatic,Front,4-May,Left wheel,Black,12
2,ACURA,10349,1273,NaN,TLX,2015,Sedan,Yes,Petrol,3.5,70562km,6,Automatic,4x4,4-May,Left wheel,White,12
3,ACURA,282,1273,NaN,RDX,2015,Jeep,Yes,Petrol,3.5,0km,6,Automatic,4x4,4-May,Left wheel,Blue,12
4,ACURA,2979,986,NaN,TSX,2010,Sedan,Yes,Petrol,2.4,203061km,4,Automatic,Front,4-May,Left wheel,Blue,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,VOLVO,2500,-,NaN,940,1993,Sedan,No,CNG,2.3,111111km,4,Manual,Rear,4-May,Left wheel,Green,0
19231,VOLVO,11604,-,NaN,XC90 2.5turbo,2006,Jeep,Yes,Petrol,2.5,170000km,6,Tiptronic,Front,4-May,Left wheel,Silver,12
19232,VOLVO,4500,-,NaN,S70,1998,Sedan,No,Petrol,2.4,0km,5,Automatic,Front,4-May,Left wheel,Red,4
19233,ZAZ,2000,-,NaN,969 968m,1989,Coupe,No,Petrol,0.8,201000km,3,Manual,Front,2-Mar,Left wheel,Blue,0
19234,ZAZ,5645,-,NaN,969 luaz,1990,Jeep,Yes,Petrol,0.9,64525km,4,Manual,4x4,2-Mar,Left wheel,Green,0

# Data Cleaning

In [3]:
df.rename(columns = {'Gear box type':'GearBoxType'}, inplace = True)

In [4]:
df.rename(columns = {'Fuel type':'FuelType'}, inplace = True)

In [5]:
df.rename(columns = {'Drive wheels':'Drivewheels'}, inplace = True)

In [6]:
df.rename(columns = {'Leather interior':'Leatherinterior'}, inplace = True)

In [7]:
df['GearBoxType'].unique()

array(['Automatic', 'Tiptronic', 'Manual', 'Variator'], dtype=object)

In [8]:
df.GearBoxType = df.GearBoxType.map({'Automatic': 1, 'Manual': 2,'Tiptronic':3,'Variator':4})
df.GearBoxType

0        1
1        1
2        1
3        1
4        1
        ..
19230    2
19231    3
19232    1
19233    2
19234    2
Name: GearBoxType, Length: 19235, dtype: int64

In [9]:
df['Levy'].unique()

array(['1399', '900', '1273', '986', '1113', '1473', '1053', '753',
       '1234', '-', '1104', '639', '915', '917', '1286', '1017', '891',
       '640', '707', '1292', '642', '1018', '1190', '1575', '919', '1481',
       '1079', '1661', '836', '975', '1699', '1946', '1252', '328',
       '1694', '3208', '2819', '2078', '1451', '1301', '1172', '1211',
       '2177', '765', '1308', '481', '2195', '4508', '1304', '3292',
       '1578', '1405', '2469', '431', '1885', '1680', '2606', '5908',
       '1685', '173', '862', '2269', '1888', '1598', '1077', '3894',
       '1736', '1529', '505', '1036', '3743', '1823', '1317', '2505',
       '2467', '1369', '1681', '1436', '751', '749', '562', '1325',
       '1297', '780', '1869', '738', '831', '650', '1807', '1083', '1307',
       '1086', '779', '1091', '781', '769', '760', '473', '259', '475',
       '1730', '1282', '777', '645', '1090', '761', '880', '531', '641',
       '730', '565', '833', '489', '382', '474', '551', '690', '584',
       '697', '1203', '729', '460', '876', '2410', '789', '790', '586',
       '1288', '583', '1095', '363', '521', '627', '400', '1249', '694',
       '687', '784', '530', '2578', '1187', '830', '426', '961', '617',
       '585', '1016', '1285', '1080', '764', '364', '695', '294', '424',
       '1515', '397', '890', '614', '1872', '686', '696', '1051', '362',
       '810', '966', '419', '2711', '488', '827', '1553', '843', '1533',
       '2073', '442', '2715', '638', '748', '644', '629', '731', '2216',
       '418', '528', '965', '750', '878', '1408', '934', '612', '462',
       '828', '702', '636', '1202', '345', '552', '1866', '1094', '928',
       '420', '1901', '2476', '1760', '1968', '1324', '1047', '1599',
       '922', '692', '2736', '1935', '1668', '2377', '2002', '2658',
       '1855', '2705', '2913', '1482', '3015', '867', '1039', '1185',
       '1156', '289', '333', '1998', '1677', '1024', '557', '1528', '949',
       '502', '1714', '501', '1995', '1011', '1493', '1195', '595',
       '1228', '1468', '1246', '1346', '1055', '3739', '722', '3329',
       '1108', '3008', '994', '1620', '1342', '1058', '866', '1466',
       '1341', '1996', '1426', '3273', '1141', '1296', '2084', '1505',
       '1991', '1673', '879', '2562', '2874', '800', '1586', '2566',
       '3184', '1347', '1678', '1675', '3965', '308', '1759', '1474',
       '2080', '1327', '3156', '3268', '1948', '3910', '446', '1486',
       '1111', '503', '447', '247', '574', '271', '1266', '1236', '490',
       '924', '448', '649', '691', '609', '1268', '2265', '658', '2670',
       '2266', '1974', '2209', '1413', '399', '742', '1552', '732',
       '1701', '527', '1275', '1368', '1279', '4283', '279', '1820',
       '1109', '1267', '1110', '1993', '3112', '2308', '2386', '893',
       '1277', '930', '1511', '877', '770', '911', '1076', '1178', '971',
       '1138', '5603', '441', '1375', '1537', '87', '1756', '663', '997',
       '2188', '1174', '1514', '1176', '1099', '3141', '1621', '1205',
       '988', '1750', '1503', '1723', '2690', '3989', '2337', '1641',
       '1781', '1470', '1960', '2472', '3301', '970', '859', '955',
       '3025', '864', '1671', '1171', '1361', '461', '1103', '723',
       '2108', '706', '889', '425', '626', '741', '526', '421', '916',
       '683', '402', '524', '1829', '623', '822', '637', '1345', '870',
       '2067', '1850', '2455', '1811', '1646', '603', '353', '1363',
       '1360', '2151', '394', '2056', '456', '2225', '1356', '607', '518',
       '1664', '579', '3505', '1624', '517', '2364', '1817', '1502',
       '2223', '1816', '2236', '1030', '1031', '2123', '1604', '11714',
       '2148', '798', '1793', '1841', '666', '1848', '2858', '2971',
       '2297', '1951', '1834', '1054', '1832', '5332', '1768', '1384',
       '1975', '1525', '3057', '5877', '1917', '1516', '2004', '1391',
       '668', '1572', '3518', '2156', '5679', '4057', '2570', '2418',
       '1924', '1836', '2070', '3571', '1387', '1590', '11706', '4860',
       '1719', '874', '682', '993', '875', '873', '1716', '7536', '841',
       '5681', '494', '2866', '1197', '1488', '1032', '2421', '980',
       '1148', '2908', '967', '1588', '115', '1659', '1662', '978',
       '1522', '1357', '1438', '724', '1440', '1411', '1118', '1452',
       '944', '799', '1107', '834', '1442', '1437', '1062', '1518',
       '1272', '1441', '792', '1366', '3811', '1365', '1045', '1028',
       '604', '2628', '1132', '746', '1705', '1708', '7058', '2082',
       '4736', '2054', '681', '1194', '1323', '463', '2959', '2018',
       '1845', '7063', '1539', '2278', '832', '5666', '175', '714',
       '1163', '605', '2909', '3699', '1198', '556', '155', '1688', '167',
       '676', '1064', '4741', '1531', '972', '2000'], dtype=object)

In [10]:
df.Manufacturer.unique()

array(['ACURA', 'ALFA ROMEO', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW',
       'BUICK', 'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'CITROEN', 'DAEWOO',
       'DAIHATSU', 'DODGE', 'FERRARI', 'FIAT', 'FORD', 'GAZ', 'GMC',
       'GREATWALL', 'HAVAL', 'HONDA', 'HUMMER', 'HYUNDAI', 'INFINITI',
       'ISUZU', 'JAGUAR', 'JEEP', 'KIA', 'LAMBORGHINI', 'LANCIA',
       'LAND ROVER', 'LEXUS', 'LINCOLN', 'MASERATI', 'MAZDA',
       'MERCEDES-BENZ', 'MERCURY', 'MINI', 'MITSUBISHI', 'MOSKVICH',
       'NISSAN', 'OPEL', 'PEUGEOT', 'PONTIAC', 'PORSCHE', 'RENAULT',
       'ROLLS-ROYCE', 'ROVER', 'SAAB', 'SATURN', 'SCION', 'SEAT', 'SKODA',
       'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA', 'UAZ', 'VAZ',
       'VOLKSWAGEN', 'VOLVO', 'ZAZ'], dtype=object)

In [11]:
df.Manufacturer=df.Manufacturer.map({'ACURA':1,'ALFA ROMEO':2,'ASTON MARTIN':3,'AUDI':4,'BENTLEY':4,'BMW':5,
       'BUICK':6,'CADILLAC':7, 'CHEVROLET':8, 'CHRYSLER':9, 'CITROEN':10, 'DAEWOO':11,
       'DAIHATSU':12, 'DODGE':13, 'FERRARI':14, 'FIAT':15, 'FORD':16, 'GAZ':17, 'GMC':18,
       'GREATWALL':19, 'HAVAL':20, 'HONDA':21, 'HUMMER':22, 'HYUNDAI':23, 'INFINITI':24,
       'ISUZU':25, 'JAGUAR':26, 'JEEP':27, 'KIA':28, 'LAMBORGHINI':29, 'LANCIA':30,
       'LAND ROVER':31, 'LEXUS':32, 'LINCOLN':33, 'MASERATI':34, 'MAZDA':35,
       'MERCEDES-BENZ':36, 'MERCURY':37, 'MINI':38, 'MITSUBISHI':39, 'MOSKVICH':40,
       'NISSAN':41, 'OPEL':42, 'PEUGEOT':43, 'PONTIAC':44, 'PORSCHE':45, 'RENAULT':46,
       'ROLLS-ROYCE':47, 'ROVER':48, 'SAAB':49, 'SATURN':50, 'SCION':51, 'SEAT':52, 'SKODA':53,
       'SSANGYONG':54, 'SUBARU':55, 'SUZUKI':56, 'TESLA':57, 'TOYOTA':58, 'UAZ':59, 'VAZ':60,
       'VOLKSWAGEN':61, 'VOLVO':62, 'ZAZ':63})
df.Manufacturer

0         1
1         1
2         1
3         1
4         1
         ..
19230    62
19231    62
19232    62
19233    63
19234    63
Name: Manufacturer, Length: 19235, dtype: int64

In [12]:
df['Category'].unique()

array(['Sedan', 'Jeep', 'Coupe', 'Hatchback', 'Universal', 'Cabriolet',
       'Limousine', 'Goods wagon', 'Minivan', 'Pickup', 'Microbus'],
      dtype=object)

In [13]:
df.Category = df.Category.map({'Sedan':1,'Jeep':2,'Hatchback':3,'Minivan':4,'Coupe':5,'Universal':6,'Microbus':7,'Goods wagon':8,'Pickup':9,'Cabriolet':10,'Limousine':11})
df.Category

0        1
1        1
2        1
3        2
4        1
        ..
19230    1
19231    2
19232    1
19233    5
19234    2
Name: Category, Length: 19235, dtype: int64

In [14]:
df['FuelType'].unique()

array(['Petrol', 'Hybrid', 'Diesel', 'CNG', 'LPG', 'Plug-in Hybrid',
       'Hydrogen'], dtype=object)

In [15]:
df.FuelType = df.FuelType.map({'Petrol':1,'Diesel':2,'Hybrid':3,'LPG':4,'CNG':5,'Plug-in Hybrid':6,'Hydrogen':7})
df.FuelType

0        1
1        1
2        1
3        1
4        1
        ..
19230    5
19231    1
19232    1
19233    1
19234    1
Name: FuelType, Length: 19235, dtype: int64

In [16]:
df['Drivewheels'].unique()

array(['Front', '4x4', 'Rear'], dtype=object)

In [17]:
df.Drivewheels = df.Drivewheels.map({'Front':1,'4x4':2,'Rear':3})
df.Drivewheels

0        1
1        1
2        2
3        2
4        1
        ..
19230    3
19231    1
19232    1
19233    1
19234    2
Name: Drivewheels, Length: 19235, dtype: int64

In [18]:
df['Doors'].unique()

array(['4-May', '2-Mar', '>5'], dtype=object)

In [19]:
df.Doors = df.Doors.map({'4-May':1,'2-Mar':2,'>5':3})
df.Doors

0        1
1        1
2        1
3        1
4        1
        ..
19230    1
19231    1
19232    1
19233    2
19234    2
Name: Doors, Length: 19235, dtype: int64

In [20]:
df['Wheel'].unique()

array(['Left wheel', 'Right-hand drive'], dtype=object)

In [21]:
df.Wheel = df.Wheel.map({'Left wheel':1,'Right-hand drive':2})
df.Wheel

0        1
1        1
2        1
3        1
4        1
        ..
19230    1
19231    1
19232    1
19233    1
19234    1
Name: Wheel, Length: 19235, dtype: int64

In [22]:
df['Color'].unique()

array(['Silver', 'Black', 'White', 'Blue', 'Grey', 'Brown', 'Golden',
       'Red', 'Beige', 'Pink', 'Green', 'Carnelian red', 'Orange',
       'Sky blue', 'Purple', 'Yellow'], dtype=object)

In [23]:
df.Color = df.Color.map({'Black':1,'White':2,'Silver':3,'Grey':4,'Blue':5,'Red':6,'Green':7,'Orange':8,'Brown':9,'Carnelian red':10,'Golden':11,'Beige':12,'Sky blue':13,'Yellow':14,'Purple':15,'Pink':16})
df.Color

0        3
1        1
2        2
3        5
4        5
        ..
19230    7
19231    3
19232    6
19233    5
19234    7
Name: Color, Length: 19235, dtype: int64

In [24]:
df['Airbags'].unique()

array([12, 10,  4,  8,  0,  7,  6,  2, 11,  1,  3,  5,  9, 16, 15, 14, 13],
      dtype=int64)

In [25]:
df['Prod. year'].unique()

array([2010, 2015, 2012, 2014, 2011, 2001, 2005, 2013, 2007, 2018, 2016,
       2002, 2017, 2004, 2009, 2006, 1998, 2008, 1999, 2003, 1995, 1997,
       2000, 1988, 1996, 1989, 1993, 1992, 1994, 2019, 1947, 1990, 2020,
       1973, 1991, 1986, 1965, 1977, 1984, 1953, 1964, 1985, 1943, 1939,
       1987, 1978, 1976, 1982, 1957, 1968, 1983, 1974, 1981, 1980],
      dtype=int64)

In [26]:
df['Leatherinterior'].unique()

array(['Yes', 'No'], dtype=object)

In [27]:
df.Leatherinterior = df.Leatherinterior.map({'No':0,'Yes':1})
df.Leatherinterior

0        1
1        1
2        1
3        1
4        1
        ..
19230    0
19231    1
19232    0
19233    0
19234    1
Name: Leatherinterior, Length: 19235, dtype: int64

In [28]:
df

,Manufacturer,Price,Levy,Unnamed: 3,Model,Prod. year,Category,Leatherinterior,FuelType,Engine volume,Mileage,Cylinders,GearBoxType,Drivewheels,Doors,Wheel,Color,Airbags
0,1,314,1399,NaN,TL,2010,1,1,1,3.5,162453km,6,1,1,1,1,3,12
1,1,3450,900,NaN,TLX,2015,1,1,1,2.4,83099km,4,1,1,1,1,1,12
2,1,10349,1273,NaN,TLX,2015,1,1,1,3.5,70562km,6,1,2,1,1,2,12
3,1,282,1273,NaN,RDX,2015,2,1,1,3.5,0km,6,1,2,1,1,5,12
4,1,2979,986,NaN,TSX,2010,1,1,1,2.4,203061km,4,1,1,1,1,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,62,2500,-,NaN,940,1993,1,0,5,2.3,111111km,4,2,3,1,1,7,0
19231,62,11604,-,NaN,XC90 2.5turbo,2006,2,1,1,2.5,170000km,6,3,1,1,1,3,12
19232,62,4500,-,NaN,S70,1998,1,0,1,2.4,0km,5,1,1,1,1,6,4
19233,63,2000,-,NaN,969 968m,1989,5,0,1,0.8,201000km,3,2,1,2,1,5,0
19234,63,5645,-,NaN,969 luaz,1990,2,1,1,0.9,64525km,4,2,2,2,1,7,0

In [29]:
df.columns

Index(['Manufacturer', 'Price', 'Levy', 'Unnamed: 3', 'Model', 'Prod. year',
       'Category', 'Leatherinterior', 'FuelType', 'Engine volume', 'Mileage',
       'Cylinders', 'GearBoxType', 'Drivewheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [30]:
df['Mileage']=df['Mileage'].str.replace('km','')

In [31]:
df['Engine volume']=df['Engine volume'].str.replace('Turbo','')

In [32]:
df['Engine volume']=df['Engine volume'].astype(float)

In [33]:
df['Mileage']=df['Mileage'].astype(int)

In [34]:
df.dtypes

Manufacturer         int64
Price                int64
Levy                object
Unnamed: 3         float64
Model               object
Prod. year           int64
Category             int64
Leatherinterior      int64
FuelType             int64
Engine volume      float64
Mileage              int32
Cylinders            int64
GearBoxType          int64
Drivewheels          int64
Doors                int64
Wheel                int64
Color                int64
Airbags              int64
dtype: object

In [35]:
ddf=df.drop(['Levy', 'Unnamed: 3', 'Model'],axis='columns')
ddf

,Manufacturer,Price,Prod. year,Category,Leatherinterior,FuelType,Engine volume,Mileage,Cylinders,GearBoxType,Drivewheels,Doors,Wheel,Color,Airbags
0,1,314,2010,1,1,1,3.5,162453,6,1,1,1,1,3,12
1,1,3450,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12
2,1,10349,2015,1,1,1,3.5,70562,6,1,2,1,1,2,12
3,1,282,2015,2,1,1,3.5,0,6,1,2,1,1,5,12
4,1,2979,2010,1,1,1,2.4,203061,4,1,1,1,1,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,62,2500,1993,1,0,5,2.3,111111,4,2,3,1,1,7,0
19231,62,11604,2006,2,1,1,2.5,170000,6,3,1,1,1,3,12
19232,62,4500,1998,1,0,1,2.4,0,5,1,1,1,1,6,4
19233,63,2000,1989,5,0,1,0.8,201000,3,2,1,2,1,5,0
19234,63,5645,1990,2,1,1,0.9,64525,4,2,2,2,1,7,0

In [36]:
ddf.dtypes

Manufacturer         int64
Price                int64
Prod. year           int64
Category             int64
Leatherinterior      int64
FuelType             int64
Engine volume      float64
Mileage              int32
Cylinders            int64
GearBoxType          int64
Drivewheels          int64
Doors                int64
Wheel                int64
Color                int64
Airbags              int64
dtype: object

In [37]:
dffinal = ddf.fillna(0)
dffinal

,Manufacturer,Price,Prod. year,Category,Leatherinterior,FuelType,Engine volume,Mileage,Cylinders,GearBoxType,Drivewheels,Doors,Wheel,Color,Airbags
0,1,314,2010,1,1,1,3.5,162453,6,1,1,1,1,3,12
1,1,3450,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12
2,1,10349,2015,1,1,1,3.5,70562,6,1,2,1,1,2,12
3,1,282,2015,2,1,1,3.5,0,6,1,2,1,1,5,12
4,1,2979,2010,1,1,1,2.4,203061,4,1,1,1,1,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,62,2500,1993,1,0,5,2.3,111111,4,2,3,1,1,7,0
19231,62,11604,2006,2,1,1,2.5,170000,6,3,1,1,1,3,12
19232,62,4500,1998,1,0,1,2.4,0,5,1,1,1,1,6,4
19233,63,2000,1989,5,0,1,0.8,201000,3,2,1,2,1,5,0
19234,63,5645,1990,2,1,1,0.9,64525,4,2,2,2,1,7,0

In [38]:
X = dffinal.drop('Price',axis='columns')
X

,Manufacturer,Prod. year,Category,Leatherinterior,FuelType,Engine volume,Mileage,Cylinders,GearBoxType,Drivewheels,Doors,Wheel,Color,Airbags
0,1,2010,1,1,1,3.5,162453,6,1,1,1,1,3,12
1,1,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12
2,1,2015,1,1,1,3.5,70562,6,1,2,1,1,2,12
3,1,2015,2,1,1,3.5,0,6,1,2,1,1,5,12
4,1,2010,1,1,1,2.4,203061,4,1,1,1,1,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,62,1993,1,0,5,2.3,111111,4,2,3,1,1,7,0
19231,62,2006,2,1,1,2.5,170000,6,3,1,1,1,3,12
19232,62,1998,1,0,1,2.4,0,5,1,1,1,1,6,4
19233,63,1989,5,0,1,0.8,201000,3,2,1,2,1,5,0
19234,63,1990,2,1,1,0.9,64525,4,2,2,2,1,7,0

In [39]:
y =dffinal['Price']
y

0          314
1         3450
2        10349
3          282
4         2979
         ...
19230     2500
19231    11604
19232     4500
19233     2000
19234     5645
Name: Price, Length: 19235, dtype: int64

# ML Models Creating

## Linear regression

In [40]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [41]:
model.fit(X,y)

LinearRegression()

In [42]:
model.score(X,y)

0.0030616805212592135

In [43]:
dff.head(5)

NameError: name 'dff' is not defined

In [521]:
model.predict([[1,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12]]) 

#'Manufacturer','Prod. year', 'Category', 'Leatherinterior','FuelType', 'Engine volume', 'Mileage', 'Cylinders', 'GearBoxType','Drivewheels', 'Doors', 'Wheel', 'Color', 'Airbags'

array([11022.74247581])

## Split data

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((15388, 14), (3847, 14), (15388,), (3847,))

In [46]:
X_train

,Manufacturer,Prod. year,Category,Leatherinterior,FuelType,Engine volume,Mileage,Cylinders,GearBoxType,Drivewheels,Doors,Wheel,Color,Airbags
9276,31,2013,2,1,2,3.0,135000,6,3,2,1,1,5,12
7808,23,2014,1,0,1,1.8,102000,4,1,1,1,1,5,12
16766,58,2014,1,0,1,1.8,187200,4,1,1,1,1,5,8
7285,23,2014,2,1,2,2.0,31169,4,1,1,1,1,2,4
15712,58,2011,3,1,3,1.8,200200,4,1,1,1,1,3,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,36,1999,1,1,5,2.3,300000,4,1,3,1,1,3,4
11964,36,2014,1,1,2,3.5,219030,6,1,2,1,1,1,12
5390,23,2011,2,1,2,2.0,191836,4,1,1,1,1,3,4
860,5,2014,2,1,2,3.0,0,6,1,2,1,1,1,0
15795,58,2018,3,1,1,1.5,2000,4,1,1,1,1,5,4

In [47]:
X_test

,Manufacturer,Prod. year,Category,Leatherinterior,FuelType,Engine volume,Mileage,Cylinders,GearBoxType,Drivewheels,Doors,Wheel,Color,Airbags
736,5,2004,1,0,1,1.9,81000,4,3,3,1,2,5,6
8674,26,2007,1,1,1,2.5,160000,6,3,2,1,2,10,5
5971,23,2012,1,1,1,1.8,182400,4,2,1,1,1,4,8
1957,8,2015,2,1,4,2.0,109497,4,1,1,1,1,2,4
11075,36,2008,1,1,2,3.0,175614,6,1,3,1,1,1,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12756,39,2000,2,0,1,1.8,0,6,1,2,1,1,2,2
12026,36,2011,2,1,1,4.6,88000,8,1,2,1,1,1,10
17891,58,2004,2,0,4,4.7,204000,8,1,2,1,1,1,4
5339,23,2014,1,1,4,20.0,333686,4,1,1,1,1,3,4
11859,36,2017,1,1,1,2.0,70880,4,1,3,1,1,3,12

In [48]:
y_train

9276     62722
7808      9408
16766    18033
7285     23505
15712     2979
         ...
11284     7840
11964    29793
5390     23138
860       7213
15795    42538
Name: Price, Length: 15388, dtype: int64

In [49]:
y_test

736       9408
8674     11000
5971     16621
1957     24283
11075     2430
         ...
12756     6272
12026    37633
17891    31361
5339     10036
11859    16621
Name: Price, Length: 3847, dtype: int64

In [50]:
model.score(X,y)

0.0030616805212592135

## SVM Algorithm

In [51]:
from sklearn.svm import SVR
SV = SVR(C=15,epsilon=.05,kernel="rbf")
SV.fit(X_train, y_train)

SVR(C=15, epsilon=0.05)

In [52]:
print("Training score:",SV.score(X_train,y_train))
print("Testing score:",SV.score(X_test,y_test))

Training score: -0.0007269105226173078
Testing score: -0.035190664374453284

## Logistic Regression

In [53]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression()

In [54]:
model1.fit(X_train, y_train)

C:\Users\MBR\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [503]:
model1.predict([[1,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12]])

array([6272], dtype=int64)

In [522]:
print("Training score:",model1.score(X_train,y_train))
print("Testing score:",model1.score(X_test,y_test))

Training score: 0.007733298674291656
Testing score: 0.00857811281518066

## Decision Tree

In [525]:
from sklearn.tree import DecisionTreeRegressor

In [534]:
DT=DecisionTreeRegressor()

In [535]:
DT.fit(X_train,y_train)

DecisionTreeRegressor()

In [528]:
DT.predict([[1,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12]])

array([3450.])

In [536]:
print("Training score:",DT.score(X_train,y_train))
print("Testing score:",DT.score(X_test,y_test))

Training score: 0.9999245938388909
Testing score: 0.4571507387407332

## Random Forest Algorithm

In [464]:
from sklearn.ensemble import RandomForestRegressor
RF=RandomForestRegressor(n_estimators=1)

In [465]:
RF.fit(X_train,y_train)

RandomForestRegressor(n_estimators=1)

In [467]:
RF.score(X_test,y_test)

0.46491337317814274

In [468]:
RF.predict([[1,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12]])

array([3450.])

In [469]:
print("Training Score:",RF.score(X_train,y_train))
print("Testing Score:",RF.score(X_test,y_test))

Training Score: 0.99836787134038
Testing Score: 0.46491337317814274

## Gradient Boosting Algorithm

In [483]:
from sklearn.ensemble import GradientBoostingRegressor

In [484]:
GB=GradientBoostingRegressor()
GB.fit(X_train,y_train)

GradientBoostingRegressor()

In [476]:
GB.predict([[1,2015,1,1,1,2.4,83099,4,1,1,1,1,1,12]])

array([13102.36878611])

In [477]:
print("Training score:",GB.score(X_train,y_train))
print("Testing score:",GB.score(X_test,y_test))

Training score: 0.8592912043029093
Testing score: -35.01962409657118

## Extreme Gradient Boosting

In [485]:
import xgboost
from xgboost import XGBRegressor

In [486]:
XGB=XGBRegressor()
XGB.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [499]:
print("Training test:",XGB.score(X_train,y_train))
print("Testing Test:",XGB.score(X_test,y_test))

Training test: 0.9991520151123461
Testing Test: 0.6013243891997053

# We Can get that the best models are:

**1-Random forest algorithm**

**2-Decision Tree**