# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [5]:
ser1 = pd.Series(np.random.randint(1, high=5, size=100, dtype=int))
ser2 = pd.Series(np.random.randint(1, high=4, size=100, dtype=int))
ser3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype=int))
print(ser1, ser2, ser3)

0     2
1     2
2     4
3     1
4     4
     ..
95    3
96    1
97    2
98    3
99    4
Length: 100, dtype: int32 0     1
1     1
2     3
3     2
4     2
     ..
95    2
96    3
97    2
98    3
99    2
Length: 100, dtype: int32 0     12292
1     24266
2     19823
3     17274
4     20214
      ...
95    16144
96    10329
97    17474
98    22183
99    25184
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [6]:
HM=pd.concat([ser1, ser2, ser3], axis=1)
HM

    0  1      2
0   2  1  12292
1   2  1  24266
2   4  3  19823
3   1  2  17274
4   4  2  20214
.. .. ..    ...
95  3  2  16144
96  1  3  10329
97  2  2  17474
98  3  3  22183
99  4  2  25184

[100 rows x 3 columns]

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [9]:
HM.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
HM

    bedrs  bathrs  price_sqr_meter
0       2       1            12292
1       2       1            24266
2       4       3            19823
3       1       2            17274
4       4       2            20214
..    ...     ...              ...
95      3       2            16144
96      1       3            10329
97      2       2            17474
98      3       3            22183
99      4       2            25184

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [13]:
bigcolumn=(pd.concat([ser1, ser2, ser3], axis=0)).to_frame()
bigcolumn.rename(columns = {0: 'bigcolumn'}, inplace=True)
bigcolumn

    bigcolumn
0           2
1           2
2           4
3           1
4           4
..        ...
95      16144
96      10329
97      17474
98      22183
99      25184

[300 rows x 1 columns]

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [14]:
bigcolumn.count()

bigcolumn    300
dtype: int64

In [15]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [17]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

     bigcolumn
0            2
1            2
2            4
3            1
4            4
..         ...
295      16144
296      10329
297      17474
298      22183
299      25184

[300 rows x 1 columns]